@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-feature-settings: "ss02";
    background-color: #09090b;
    color: white;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}
